.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-cart-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}