@import '../../theme/variables.scss';

.top-bar {
  background-color: $header;
  color: $white;
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 20px 30px;
  box-shadow: 0 4px 8px $shadow-color;

  &__logo {
    img {
      max-height: 70px;
    }
  }

  &__nav {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        margin-right: 10px;

        a {
          text-decoration: none;
          font-size: 18px;
          color: $highlight;
          transition: all 0.2s;
          display: inline-block;
          width: auto;
          height: auto;

          &:hover {
            transform: scale(1.1);
            color: $white;
          }
        }
      }
    }
  }

  &__active {
    color: $black !important;
    transform: scale(1.1);
    background-color: $highlight;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0.5;
  }
}
