.show-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #132043;
    border-radius: 50px;
    margin: 5px;
    padding: 50px;
    box-shadow: 0 1px 20px 5px rgb(0, 0, 0, 0.36);

    @media (max-width: 670px) {
        margin: 0px;
        margin-top: 5px;
        padding: 25px;
        box-shadow: none;
    }

    @media (max-width: 320px) {
        margin: 0px;
        margin-top: 5px;
        padding: 5px;
        box-shadow: none;
        
    }
}

.first-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 10px;

    @media (max-width: 626px) {
        flex-direction: column;
    }

    & img {
        margin: 20px 20px 20px 0px;
        width: 150px;
        height: 150px;
        top: 0;
        left: 0;
        border-radius: 40%;

        &:hover {
            transform: scale(1.1);
            transition: 0.15s ease;
        }
    }

    &__title {
        background-color: white;
        padding: 5px;
        border-radius: 10px;
        width: auto;
        height: auto;

        &.second {
            width: 510px;
        
            @media (max-width: 626px) {
                width: auto;
            }
        }
    }

    &__userOrTitle {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem;
        width: auto;
        height: auto;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: monospace;
        padding-left: 10px;
        padding-right: 10px;
        cursor: default;

        @media (max-width: 570px) {
            font-size: 1rem;
            padding: 0px;
        }
        
        &:hover {
            color: #F99417;
            transition: 0.15s ease;
            box-shadow: 0 1px 20px 5px rgb(0, 0, 0, 0.36);
        }
    }

    &__name {
        background-color: #D0D4CA;
        padding: 5px;
        border-radius: 10px;
        margin-left: 10px;
    }
    
}
