.profile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: space-evenly;

  @media (max-width: 852px) {
    height: 100%;
  }

  &__back {
    width: 100%;
    margin: 20px;
  }

  &-error {
    font-size: 200px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    background-color: #D8D9DA;
    border-radius: 50px;
    width: auto;
    height: 400px;

    @media (max-width: 500px) {
      font-size: 100px;
    }
  }
}