.profile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: space-evenly;

  @media (max-width: 852px) {
    height: 100%;
  }

  &__back {
    width: 93%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px 50px 20px;
  }
}