.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__children {
      background-color: whitesmoke;
      padding: 0px 50px;
      height: 100%;

      @media (max-width: 440px) {
        padding: 0px;
      }
    }
  }