.product {
    width: 270px;
    height: 400px;
    padding: 15px;
    margin: 20px;
    border-top: 2px solid rgb(238, 147, 34);
    border-left: 2px solid rgb(238, 147, 34);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 350px) {
        width: 230px;
    }
    
    &__image {
        height: 270px;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px solid rgb(238, 147, 34);
    }

    &__title {
        color: black;
        font-size: large;
        margin-bottom: -10px;
        margin-top: 5px;
        flex-grow: 1;
    }

    &__price {
        text-align:right;
        color: black;
        font-size: 25px;
        font-weight: bold;
    }

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}

.link{
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.cart {

    @media (max-width: 850px) {
        width: 300px;
    }

    &-product {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: 170px;
        border-radius: 15px;
        background-color: #D8D9DA;

        @media (max-width: 850px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: auto;
            
            & p {
                width: 80%;
                height: auto;
                font-size: large;
                font-weight: bold;
            }

            @media (max-width: 387px) {
                width: 250px;
            }
        }

        &__container {
            height: 140px;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: auto;

            @media (max-width: 850px) {
                width: 300px;
                height: auto;
            }

            @media (max-width: 387px) {
                width: 250px;
                display: flex;
            }
        }

        &__image {
            align-self: center;
            background-color: white;
            padding: 10px;
            margin: 10px;
            height: 140px;
            width: 150px;
            border-radius: 15px;
            border-left: 2px solid rgb(238, 147, 34);
            border-top: 2px solid rgb(238, 147, 34);
        }
        
        &__title {
            width: 450px;
            color: black;
            font-size: 15px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: monospace;
        }
        
        &__price {
            margin: 10px 0 10px 0;
            font-size: 15px;
            font-weight: bold;
            background-color: white;
            padding: 2px;
            border-radius: 5px;
            font-family: monospace;
        }
    }
}