body{
  background-color: whitesmoke;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: monospace;

  & h1 {
    font-size: 30px;
  }

  & h5 {
    font-size: 12px;
    margin: 0;
  }

  &-error {
    font-size: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: auto;
    height: 400px;

    @media (max-width: 500px) {
      font-size: 100px;
    }
  }
}

