.home {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: monospace;
  justify-content: center;
  padding: 25px 0;

  & h1 {
    font-size: 30px;
  }

  & h5 {
    font-size: 12px;
    margin: 0;
  }
}
