@import '../../theme/variables.scss';

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 90%;
  gap: 20px;

  &__empty {
    font-size: 2rem;
    margin-top: 70px;
    color: $white;
  }
}
