.category-filter {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 120px;
        height: 50px;
        margin: 20px 0px;
        border-radius: 10px;
        background-color: #132043;

        @media (max-width: 440px) {
            margin: 20px 50px;
        }
    }

    &__selector {
        font-size: 40px;
        padding-left: 0px;
        color: white;
    }

    &__container {
        display: none;
        
        &__open {
            position: absolute;
            width: 244px;
            height: 440px;
            margin-top: 430px;
            border-radius: 10px;
            background: linear-gradient(90deg, rgb(238, 147, 34) , rgb(233, 184, 36));
        }

        &__list {
            display: none;
            
            &__open {
                margin: 20px;
                padding-left: 0px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        }
    }
}